In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./data.csv", header=None)

In [3]:
data["0_0"] = data[0] ** 2

In [4]:
data

            0          1          0_0
0   32.502345  31.707006  1056.402448
1   53.426804  68.777596  2854.423389
2   61.530358  62.562382  3785.984959
3   47.475640  71.546632  2253.936359
4   59.813208  87.230925  3577.619836
..        ...        ...          ...
95  50.030174  81.536991  2503.018345
96  49.239765  72.111832  2424.554491
97  50.039576  85.232007  2503.959160
98  48.149859  66.224958  2318.408911
99  25.128485  53.454394   631.440741

[100 rows x 3 columns]

In [5]:
X = data.loc[:, [0, "0_0"]].values
Y = data.loc[:, 1].values

In [6]:
# all calculation is based on numpy array since it will do the element wise operation example multiplication
def step_gradient(X, Y, learning_rate, m):
    m_slope=np.zeros(len(X[0])) # final slope
    for i in range(len(X)):
        x = X[i] # no of columns based on ith row 
        y = Y[i]
        for j in range(len(x)): # for each of jth column in ith row is needed to calculate for cost
            # m * x is numpy array it will do the dot product n then sum is applied
            # it a derivative w.r.t m
            m_slope[j]+=(-2/len(X))*(y-sum(m*x))*x[j] 
    new_m=m-(learning_rate*m_slope) # final slope updatation 
    return new_m

In [7]:
def cost(m, X, Y):
    cost=0
    for i in range(len(X)):
        cost+=(1/len(X))*((Y[i]-sum(m*X[i]))**2)
    print(cost)

In [8]:
def gd(X, Y, learning_rate, num_iterations):
    m = np.zeros(len(X[0]))
    for i in range(num_iterations):
        m = step_gradient(X, Y, learning_rate, m)
        print("itr= ", i, "cost=", end=' ')
        cost(m, X, Y)
    return m

In [9]:
def run(X, Y):
    learning_rate = 0.1
    num_iterations = 10
    # i need to add the c value here only for multivale variable, c we can make it contant so let it be 1
    # so here c is taken care
    X = np.append(X, np.ones(len(X)).reshape(-1, 1), axis = 1)
    m = gd(X, Y, learning_rate, num_iterations)
#     print(m, c)

In [10]:
m=run(X, Y)

itr=  0 cost= 1.0662249334277954e+16
itr=  1 cost= 2.160780893235847e+28
itr=  2 cost= 4.378976632612543e+40
itr=  3 cost= 8.874308546967383e+52
itr=  4 cost= 1.7984419373298488e+65
itr=  5 cost= 3.6446708888119825e+77
itr=  6 cost= 7.386185570981373e+89
itr=  7 cost= 1.4968631998143584e+102
itr=  8 cost= 3.033500062280161e+114
itr=  9 cost= 6.147604289420018e+126